
#testimonials-carousel{
    text-align: center;
    background-color: black !important;
    color:#fff;
    height: 400px;
    
  }
  
  .owl-carousel{
    padding: 3% 15% 8% 15%;
  }
  #testimonials-carousel > .carousel-inner > .carousel-item > img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 100%;
    margin: 20px;
    background-color: black;

  }
  .testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
  }

  em {
      font-size: 2rem;
  }
 