* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
}

/* for carousel */
.carousel-inner > .carousel-item > img {
  height: 89vh;
  width: 100%;
  filter: contrast(175%) brightness(60%);
}
.carousel-inner > .carousel-item > .carousel-caption > h5 {
  color: white;
  font-size: 3rem;
}
.carousel-inner > .carousel-item > .carousel-caption {
  position: absolute;
  width: 40%;
  left: 0;
  top: 30%;
}

/* /////////////////////////////////////////////////////////// */
/* For caresouel1 */

.btn-outline-warning:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .carousel-inner > .carousel-item > .carousel-caption {
    left: 25%;
    font-size: 20px !important;
    text-align: center;
    top: 15%;
  }

  .carousel-inner > .carousel-item > .carousel-caption > h5 {
    color: white;
    font-size: 2rem;
  }

  .carousel-inner > .carousel-item > .carousel-caption > p {
    color: white;
    font-size: 1rem;
  }

  .carousel-inner > .carousel-item > img{
	height: 60vh;
	width: 100%;
	filter: contrast(175%) brightness(60%);
  }

  .collapse > ul > li {
	left: 25%;
    text-align: center;
  }
}

/* for Course component */

div.courses-main > div:first-child {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 50px;
  font-size: 1.6rem;
}
.courses-main > div > div h1 {
  font-size: 4rem;
}
.courses-main > div > div hr {
  border: 3px solid black;
  border-radius: 5px;
  font-weight: bold;
}
.courses-main > div > div p {
  font-weight: bold;
}

/* ////////////////////////////////////////////// */
/* for Testimonial */

section .heading {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 4vw;
  padding: 60px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
section .heading:before {
  position: absolute;
  content: "";
  width: 25%;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25%;
  background: #393939;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper .container {
  position: relative;
  width: 350px;
  color: #fff;
  background: #222;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
}
.wrapper .container .profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
  display: block;
}
.wrapper .container .profile .imgBox {
  position: relative;
  height: 120px;
  width: 120px;
  margin: auto;
  border: 8px solid #070c0d;
  border-radius: 50%;
  overflow: hidden;
}
.wrapper .container .profile .imgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}
.wrapper .container .profile .imgBox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}
.wrapper .container .profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper .container p {
  margin-top: 90px;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}
.wrapper .container .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #3b7cf5;
}
.wrapper .container .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #3b7cf5;
}
.wrapper .container .social {
  width: 100%;
}
.wrapper .container .social i {
  font-size: 1.2em;
  color: #fff;
  padding: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.wrapper .container .social i:hover {
  background: #3b7cf5;
}

/* ///////////////////////////////////////////// */
/* For whatsapp icon */

/* for whatsappicon */
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 1px #999;
  z-index: 100;
}
.whatsapp_float :hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.2);
  color: white;
}

.whatsapp-icon {
  margin-top: 16px;
}
/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}
